<ul class=" list-group list-group-horizontal">
  <li class="list-group-item" *ngFor="let year of splitDatesByYears" (click)="buildChartOnSelectedDate(year)">
    <span>{{year | date: 'yyyy-MM-dd'}}</span>
  </li>
</ul>

<app-datepicker></app-datepicker>

<div style="margin: 2%;">
    <div class="chart chart-wrapper">
        <canvas baseChart 
            [datasets]="ChartData" 
            [labels]="ChartLabels" 
            [options]="ChartOptions"
            [plugins]="ChartPlugins" 
            [legend]="ChartLegend" 
            [chartType]="ChartType">
        </canvas>
    </div>
</div>