<div class="card">
    <div class="card-body">

        <div class="col-md-5">
            <table class="table table-hover table-sm table-secondary">
                
                <thead>
                    <tr>
                        <th scope="col">Origine</th>
                        <th scope="col">Values Sum</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let statistic of statisticsTable">
                        <th>{{statistic[0]}}</th>
                        <td>{{statistic[1]}}</td>
                    </tr>
                </tbody>
            
            </table>
        </div>

    </div>
</div>